    <div>
      <div class="hero-unit">
        <h1>Welcome to<br>Project Tab Manager!</h1>
        <br>
        <p>Thank you for installing Project Tab Manager.</p>
        <ul>
          <li>Have you been opening 100 tabs on your Chrome?</li>
          <li>Consuming gigabytes of memory just by running Chrome?</li>
          <li>Distracted by social media while you are working because they are open in other tabs?</li>
        </ul>
        <p>Worry no more! Project Tab Manager (PTM) helps you solve those problems!</p>
        <h2>Getting Started</h2>
        <p>Here's the first thing you should do to get started with PTM.</p>
        <ol>
          <li>Open a new window.</li>
          <li>Open a web page.</li>
          <li>Open PTM by clicking on folder icon.</li>
          <li>Enter a name of the window then save. This will be your first poject.</li>
          <li>You're all set.</li>
        </ol>
        <img src="img/assets/new_project.png" alt="">
        <p>PTM is that simple. Whenever you want to resume the project, just click on the project name from PTM pop up. Try following to see how powerful this extension is.</p>
        <ol>
          <li>Open new tabs in previously saved window.</li>
          <li>Close the window (not tabs, but window itself).</li>
          <li>Open PTM by clicking on folder icon.</li>
          <li>Click on the saved project to resume.</li>
        </ol>
        <img src="img/assets/saved_project.png" alt="">
        <p>You should now see the same tab sets restored. Got the idea? Enjoy!</p>
      </div>
      <h2>Further Instructions</h2>
      <details>
        <summary>Saving bookmarks</summary>
        <ul>
          <li>Saving project stores all tabs as bookmarks. PTM also track other tabs opened in the same window so that you can restore them by opening the project later. But what if you close one of those tabs and want to open it again? By bookmarking important tabs, you can easily come back to the same page.</li>
          <li>In PTM, bookmarks are actually saved as bookmarks on Chrome. Try opening Bookmark Manager and look for a folder named "Project Tab Manager" (default). You'll see list of bookmarks and folders (by project name) stored on PTM there.</li>
          <li>This enables you to access same bookmarks on Chrome for iOS and Chrome for Android, if you are signed in to Chrome.</li>
        </ul>
      </details>
      <details>
        <summary>Editing Projects</summary>
        <ul>
          <li>Editing project names, bookmark names, sorting are not supported on PTM.</li>
          <li>This is by design. You already have much better bookmark manager built into Chrome!</li>
        </ul>
      </details>
      <details>
        <summary>Removing Projects</summary>
        <ul>
          <li>By clicking on trash bin icon beside project name will remove the project.</li>
          <li>Removed bookmarks are not deleted. It's just moved to a special folder named "__Archives__".</li>
          <li>Delete folders and bookmarks under "__Archives__" manually if you think they are not important.</li>
        </ul>
      </details>
      <details>
        <summary>Associating Project</summary>
        <ul>
          <li>Sometimes you might want to assign a window to the existing project.</li>
          <li>Clicking on pin icon next to project names will associate the project with the window.</li>
          <li>Note this will discard previous session stored to the project.</li>
        </ul>
      </details>
      <details>
        <summary>Lazy Loading</summary>
        <ul>
          <li>Opening a lot of tabs may take a while and consumes memory on Chrome. Lazy Loading feature on PTM enables you to delay actual rendering of those tabs.</li>
          <li>Lazy loaded tabs will have title with "*" prefixed. They won't be loaded until you will activate them.</li>
          <li>You have an option to turn lazy loading feature off.</li>
        </ul>
      </details>
      <details>
        <summary>Options</summary>
        <ul>
          <li>In <a href="#/options">Options page</a>, you can configure
            <ul>
              <li>Root bookmark folder of PTM</li>
              <li>Root bookmark folder name</li>
              <li>Lazy Loading switch</li>
            </ul>
          </li>
        </ul>
      </details>
      <details>
        <summary>Summary</summary>
        <ul>
          <li>By clicking on clock icon on top of PTM pop up, you can see <a href="#/summary">summary of time you spent on each projects</a>.</li>
          <li>These summaries are stored for 2 month so that you can come back and see how much time you spent on which project.</li>
        </ul>
      </details>
      <details>
        <summary>Keyboard Navigation</summary>
        <ul>
          <li>After opening TPM pop up, you might want to nagivate using keyboard.</li>
          <li>Pressing "tab" selects next project, pressing "return" opens the selected project.</li>
          <li>You can optionally assign shortcut to open PTM pop up as well. Open "chrome://extensions" and go to bottom of the page to find "Keyboard shortcuts" then assign.</li>
        </ul>
      </details>
      <br>
      <h2>The Developer</h2>
      <p>My name is Eiji Kitamura. Find me on <a href="http://blog.agektmr.com" target="_blank">my blog</a>, <a href="http://profiles.google.com/agektmr" target="_blank">Google+</a>, <a href="http://twitter.com/agektmr" target="_blank">Twitter</a> or <a href="https://github.com/agektmr" target="_blank">github</a>.</p>
      <h2>Feedback</h2>
      <p>I'm grateful if you could give <a href="https://chrome.google.com/webstore/support/iapdnheekciiecjijobcglkcgeckpoia" target="_blank">a review on Chrome Web Store</a>.</p>
      <p>Of course, <a href="https://chrome.google.com/webstore/detail/project-tab-manager/iapdnheekciiecjijobcglkcgeckpoia/details" target="_blank">reporting bugs and feature requests</a> are much appreciated!</p>
      <p>If you are a developer and thinking about contributing, head to <a href="https://github.com/agektmr/ProjectTabManager">the github page</a>.</p>
    </div>
    <footer>
      <hr />
    </footer>