<h2 id="version-3-0-1">Version 3.0.1</h2>
<ul>
<li>Fixed critical bug for existing users that prevents PTM to be opened.</li>
</ul>
<h2 id="version-3-0-0">Version 3.0.0</h2>
<ul>
<li>Project Tab Manager now treats <strong>all</strong> windows as projects.<ul>
<li>No need to manually create project</li>
<li>Click on &quot;edit&quot; button beside project name to rename</li>
<li>A bookmark will be created when you bookmark one of tabs by clicking a star</li>
</ul>
</li>
<li>Better session tracking: Sessions can be resumed in any situations including:<ul>
<li>Launching Chrome</li>
<li>Recovery from crash</li>
<li>Opening a profile</li>
</ul>
</li>
<li>&quot;Pin&quot; feature is deprecated</li>
<li>Tab order is now synching better than before</li>
<li>Retina display support</li>
<li>New icons</li>
<li>Favicons are now cached in database</li>
</ul>
<h2 id="version-2-2-3">Version 2.2.3</h2>
<ul>
<li>Fixed a bug that changes active tab behind focused window when clicking on a bookmark that is open project but not active.</li>
</ul>
<h2 id="version-2-2-2">Version 2.2.2</h2>
<ul>
<li>Bold project name when the project is open</li>
</ul>
<h2 id="version-2-2-1">Version 2.2.1</h2>
<ul>
<li>Add new project by typing &quot;return&quot; on project name input</li>
</ul>
<h2 id="version-2-2-0">Version 2.2.0</h2>
<ul>
<li><strong>Drastic performance improvement</strong></li>
<li>Source code re-organization</li>
</ul>
<h2 id="version-2-1-1">Version 2.1.1</h2>
<ul>
<li>Fixed flexbox issue for non-vendorprefix unsupported stable channel</li>
<li>Added starring effect</li>
</ul>
<h2 id="version-2-1-0">Version 2.1.0</h2>
<ul>
<li>Refactored internal structure for better maintenance.</li>
<li>Project order is now aligned to what appears on actual bookmark list.</li>
<li>Session handling is significantly improved.</li>
<li>Slight design change.</li>
</ul>
<h2 id="version-2-0-5">Version 2.0.5</h2>
<ul>
<li>Pop up history page only if the version changes in major (ex 2.0.0) or minor (ex 2.1.0). Trivial change (ex 2.1.1) won&#39;t popu up anymore.</li>
</ul>
<h2 id="version-2-0-4">Version 2.0.4</h2>
<ul>
<li>Added link to Japanese help (I mean, my blog!)</li>
<li>Fixed cache strength on session changes</li>
</ul>
<h2 id="version-2-0-3">Version 2.0.3</h2>
<ul>
<li>Opening pop up is now much much faster.</li>
</ul>
<h2 id="version-2-0-2">Version 2.0.2</h2>
<ul>
<li>Quick fix on bookmark initialization.</li>
</ul>
<h2 id="version-2-0-1">Version 2.0.1</h2>
<ul>
<li>Bug fixes.<ul>
<li>Console logs are now disabled.</li>
<li>Summary works better.</li>
<li>History log will be removed after 2 month.</li>
<li>Options were busted. Now it works ok.</li>
</ul>
</li>
</ul>
<h2 id="version-2-0-0">Version 2.0.0</h2>
<ul>
<li>Project Tab Manager has got a major update. Check out these killer features!</li>
<li>Enhanced UI. Project Tab Manager UI has got much better, more intuitive and friendlier than before.</li>
<li>Project Tab Manager now tracks all your open tabs. Feel free to close windows. You can always resume from where you were by opening the same project. Bookmark by turning on stars beside your open tab list under project if you think you will open it again.</li>
<li>Automatically restores previous sessions and project assignments to windows.</li>
<li>Keyboard navigation is now available. Open Project Tab Manager, search, then you can navigate through projects by pressing &quot;tab&quot; key. Press &quot;return&quot; to open selected project.</li>
<li>Options is now stored in the cloud. Your configurations will be consistent among all your environments (if you are signed into Chrome).</li>
<li>Better summary. You can now summarize your time spent on each projects better. Your session will be tracked for 2 months.</li>
</ul>
<h2 id="version-1-0-3">Version 1.0.3</h2>
<ul>
<li>Fixed wrong passive bookmark representation.</li>
<li>Fixed wrong behavior on lazy load.</li>
<li>other bug fixes.</li>
</ul>
<h2 id="version-1-0-2">Version 1.0.2</h2>
<ul>
<li>Fixed blocking bug causing no response when clicking on session name.</li>
</ul>

