body {
  font-family: 'Roboto';
  font-size: 75%;
  width: 300px;
  margin: 0;
  padding: 0;
}

.title {
  cursor: pointer;
  color: var(--secondary-text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.projects-container {
  min-height: 300px;
  mwc-list {
    height: 32px;
    [expanded] {
      height: auto;
    }
  }
  .buttons {
    display: none;
    flex: 0 0 auto;
  }
  .content {
    display: flex;
    align-items: center;
    :hover .buttons {
      display: block;
    }
  }
  .title {
    flex: 1 1 auto;
    [active] {
      font-weight: bold;
      color: var(--primary-text-color);
    }
  }
}

#menu {
  position: relative;
  margin-right: 8px;
  #menu-list ptm-list-item svg {
    width: var(--mdc-icon-size);
    height: var(--mdc-icon-size);
  }
}

.center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mwc-textfield {
  height: 28px;
  --mdc-text-field-ink-color: white;
}

* {
  --mdc-theme-primary: #FF5722;
  --mdc-theme-secondary: #E64A19;
  --mdc-theme-background: white;
  --mdc-theme-surface: white;
  --mdc-theme-on-primary: white;
  --mdc-theme-on-secondary: white;
  --mdc-theme-on-surface: #333333;
  --mdc-theme-text-primary-on-background: #333333;
  --mdc-theme-text-primary-on-light: white;
  --mdc-theme-text-primary-on-drak: white;
  --mdc-theme-text-hint-on-light: #333333;
  --mdc-theme-text-icon-on-primary: white;

  /* Components */

  /* mwc-list */
  --mdc-list-side-padding: 0;

  /* mwc-list-item */
  --mdc-list-item-graphic-size: var(--mdc-icon-button-size);
  --mdc-list-item-graphic-margin: var(--mdc-list-side-padding);
  --mdc-list-item-meta-size: 16px;

  /* mwc-icon */
  --mdc-icon-size: 16px;
  --mdc-icon-button-size: 24px;

  --mdc-tab-height: 32px;

  --paper-font-caption: {
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.011em;
    line-height: 10px;
  };
}
