* {
  font-family: 'Roboto';
}

paper-tabs {
  color: white;
  background-color: #3f51b5;
  --paper-tabs-selection-bar-color: white;
}

paper-item > *:not(:first-child):not(:last-child) {
  margin-right: 0;
}