core-menu {
  margin: 0;
  padding: 0 10px;
}
* /deep/ {
  span {
    font-size: 0.8em;
  }
  .button-content {
    padding: 0;
  }
  paper-item {
    padding: 0 3px;
  }
  core-icon-button {
    margin: 2px;
    padding: 2px;
  }
  core-icon {
    width: 16px !important;
    height: 16px !important;
  }
  ptm-star {
    width: 18px;
    height: 18px;
  }
  #star {
    width: 18px;
    height: 17px;
    padding: 0;
  }
}
