paper-item {
  background-color: white;
}
#title {
  font-family: 'Roboto';
  color: #aaa;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.active {
    color: black;
  }
}
#star {
  color: #D3D3D3;
  &.bookmarked {
    color: #FAC12F;
  }
}