<h1 id="welcome-to-project-tab-manager-">Welcome to Project Tab Manager!</h1>
<p>Thank you for installing Project Tab Manager.</p>
<ul>
<li>Have you been opening 100 tabs on your Chrome?</li>
<li>Consuming lots of memory just with Chrome?</li>
<li>Distracted by social network while you are working?</li>
</ul>
<p>Worry no more! Project Tab Manager (PTM) helps you solve those problems!</p>
<h2 id="getting-started">Getting Started</h2>
<p>PTM automatically tracks all windows you open in Chrome. You can resume those windows anytime you want. See how it works:</p>
<h3 id="1-click-on-ptm-icon">1. Click on PTM icon</h3>
<p><img src="img/assets/0.png" width="289" height="40" /></p>
<h3 id="2-do-you-see-list-of-dates-they-are-projects-and-represents-windows-">2. Do you see list of dates? They are projects and represents windows!</h3>
<p><img src="img/assets/1.png" width="320" height="117" /></p>
<h3 id="3-you-can-name-it-more-comprehensive-manner-by-clicking-on-pencil-icon-next-to-the-project-name-">3. You can name it more comprehensive manner by clicking on pencil icon next to the project name.</h3>
<p><img src="img/assets/2.png" width="425" height="126" /></p>
<h3 id="4-change-the-name-it-looks-more-like-a-project-doesn-t-it-">4. Change the name. It looks more like a project, doesn&#39;t it?</h3>
<p><img src="img/assets/3.png" width="323" height="121" /></p>
<h3 id="5-clicking-on-stars-stores-the-page-permanently-this-will-persist-and-works-across-devices-including-mobile-chrome-">5. Clicking on stars stores the page permanently. This will persist and works across devices including mobile Chrome.</h3>
<p><img src="img/assets/4.png" width="411" height="128" /></p>
<h3 id="6-because-those-pages-are-stored-as-bookmarks-in-quot-other-bookmarks-quot-default-">6. Because those pages are stored as bookmarks in &quot;Other Bookmarks&quot; (default).</h3>
<p><img src="img/assets/5.png" width="617" height="92" /></p>
<h3 id="7-opaque-pages-mean-bookmarked-but-not-opened-so-you-can-recover-it-anytime-">7. Opaque pages mean &quot;bookmarked but not opened&quot;. So you can recover it anytime.</h3>
<p><img src="img/assets/6.png" width="325" height="162" /></p>
<h2 id="further-instructions">Further Instructions</h2>
<h3 id="removing-projects">Removing Projects</h3>
<ul>
<li>By clicking on garbage icon beside project name removes the project.</li>
<li>Removed bookmarks will be moved to a special folder named &quot;<strong>Archives</strong>&quot;. They are not deleted, but pages that are not bookmarked will be removed permanently.</li>
<li>Delete folders and bookmarks under &quot;<strong>Archives</strong>&quot; manually if you think they are not important.</li>
</ul>
<h3 id="lazy-loading">Lazy Loading</h3>
<ul>
<li>Opening a lot of tabs may take a while and consumes memory on Chrome. Lazy Loading feature on PTM enables you to delay actual rendering of those tabs.</li>
<li>Lazy loaded tabs will have title with &quot;*&quot; prefixed. They won&#39;t be loaded until you will activate them.</li>
<li>You have an option to turn lazy loading feature off.</li>
</ul>
<h3 id="options">Options</h3>
<ul>
<li>In <a href="#/options">Options page</a>, you can configure<ul>
<li>Root bookmark folder of PTM</li>
<li>Root bookmark folder name</li>
<li>Lazy Loading switch</li>
</ul>
</li>
</ul>
<h3 id="summary">Summary</h3>
<ul>
<li>By clicking on clock icon on top of PTM pop up, you can see <a href="#/summary">summary of time you spent on each projects</a>.</li>
<li>These summaries are stored for 2 month so that you can come back and see how much time you spent on which project.</li>
</ul>
<h3 id="keyboard-navigation">Keyboard Navigation</h3>
<ul>
<li>You can navigate through PTM using keyboard.<ul>
<li><strong>tab:</strong> selects next project.</li>
<li><strong>return:</strong> opens the selected project.</li>
<li><strong>right arrow:</strong> expands project folder</li>
<li><strong>left arrow:</strong> folds project folder</li>
</ul>
</li>
<li>If you want to open PTM with a short cut key, open &quot;chrome://extensions&quot; and go to bottom of the page to find &quot;Keyboard shortcuts&quot; then assign.</li>
</ul>
<h2 id="the-developer">The Developer</h2>
<p>My name is Eiji Kitamura. Find me on <a href="http://blog.agektmr.com">my blog</a>, <a href="http://google.com/+agektmr">Google+</a>, <a href="http://twitter.com/agektmr">Twitter</a> or <a href="https://github.com/agektmr">github</a>.</p>
<h2 id="feedback">Feedback</h2>
<p>I&#39;m grateful if you could give <a href="https://chrome.google.com/webstore/support/iapdnheekciiecjijobcglkcgeckpoia">a review on Chrome Web Store</a>.</p>
<p>Of course, <a href="https://chrome.google.com/webstore/detail/project-tab-manager/iapdnheekciiecjijobcglkcgeckpoia/details">reporting bugs and feature requests</a> are much appreciated!</p>
<p>If you are a developer and thinking about contribution, head to <a href="https://github.com/agektmr/ProjectTabManager">the github page</a>.</p>
<hr>

