    <div>
      <h1>Project Tab Manager version history</h1>
      <h2>Version 2.0.4</h2>
      <ul>
        <li>Added link to Japanese help (I mean, my blog!)</li>
        <li>Fixed cache strength on session changes</li>
      </ul>
      <h2>Version 2.0.3</h2>
      <ul>
        <li>Opening pop up is now much much faster.</li>
      </ul>
      <h2>Version 2.0.2</h2>
      <ul>
        <li>Quick fix on bookmark initialization</li>
      </ul>
      <h2>Version 2.0.1</h2>
      <ul>
        <li>Bug fixes.
          <ul>
            <li>Console logs are now disabled.</li>
            <li>Summary works better.</li>
            <li>History log will be removed after 2 month.</li>
            <li>Options were busted. Now it works ok.</li>
          </ul>
        </li>
      </ul>
      <h2>Version 2.0.0</h2>
      <ul>
        <li>Project Tab Manager has got a major update. Check out these killer features!</li>
        <li>Enhanced UI. Project Tab Manager UI has got much better, more intuitive and friendlier than before.</li>
        <li>Project Tab Manager now tracks all your open tabs. Feel free to close windows. You can always resume from where you were by opening the same project. Bookmark by turning on stars beside your open tab list under project if you think you will open it again.</li>
        <li>Automatically restores previous sessions and project assignments to windows.</li>
        <li>Keyboard navigation is now available. Open Project Tab Manager, search, then you can navigate through projects by pressing "tab" key. Press "return" to open selected project.</li>
        <li>Options is now stored in the cloud. Your configurations will be consistent among all your environments (if you are signed into Chrome).</li>
        <li>Better summary. You can now summarize your time spent on each projects better. Your session will be tracked for 2 months.</li>
      </ul>
      <h2>Version 1.0.3</h2>
      <ul>
        <li>Fixed wrong passive bookmark representation.</li>
        <li>Fixed wrong behavior on lazy load.</li>
        <li>other bug fixes.</li>
      </ul>
      <h2>Version 1.0.2</h2>
      <ul>
        <li>Fixed blocking bug causing no response when clicking on session name</li>
      </ul>
    </div>